<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
            <div class="col"></div>
            <div class="col-lg-10">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-black text-muted">Hoşgeldiniz</h4>
                            </div>

                            <div class="mb-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Araba İsim</th>
                                            <th scope="col">Stok</th>
                                            <th scope="col">Fiyat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>2023 BMW 330</td>
                                            <td>3</td>
                                            <td>42300</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>2023 BMW 228 Gran Coupe</td>
                                            <td>6</td>
                                            <td>36600</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>2023 BMW 530</td>
                                            <td>2</td>
                                            <td>54800</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>2023 Audi A3</td>
                                            <td>5</td>
                                            <td>34900</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>2023 Toyota GR86</td>
                                            <td>3</td>
                                            <td>27900</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>2021 Ferrari Roma</td>
                                            <td>1</td>
                                            <td>37580</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>2023 Nissan Z</td>
                                            <td>4</td>
                                            <td>39990</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>2022 Lexus IS 500</td>
                                            <td>3</td>
                                            <td>56580</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>2023 Volkswagen Atlas</td>
                                            <td>2</td>
                                            <td>35150</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td>2023 Toyota 4Runner</td>
                                            <td>1</td>
                                            <td>38805</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td>2023 Chevrolet Blazer</td>
                                            <td>6</td>
                                            <td>35100</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12</th>
                                            <td>2023 Mercedes-Benz AMG GLE 53</td>
                                            <td>4</td>
                                            <td>76950</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">13</th>
                                            <td>2023 Mercedes-Benz AMG GLA 45</td>
                                            <td>5</td>
                                            <td>56650</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">14</th>
                                            <td>2023 GMC Acadia</td>
                                            <td>2</td>
                                            <td>36880</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">15</th>
                                            <td>22023 Volkswagen Arteon</td>
                                            <td>1</td>
                                            <td>42530</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">16</th>
                                            <td>2023 Mercedes-Benz AMG C 43</td>
                                            <td>2</td>
                                            <td>59900</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Stoklar ve fiyatlar paneli</h4>
                            </div>

                            <button type="submit" class="btn btn-warning text-center" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="register()">Çıkış
                                Yap</button>
                            <div class="modal fade" onclick="myFunction()" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Panel Bildirimi
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Çıkış yapıldı..
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Tamam</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>